@import 'imports/style';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px;
}

.chat-window {
    height: calc(100% - 70px);
    overflow:auto;
}

.keyboard {
    height: 50px;
    width: 100%;
    border-top: 2px solid lightgray;
}

.keyboard form {
    display: inline-block;
    width: calc(100% - 100px);
    height:100%;
    padding:10px;
}

.keyboard form input {
    resize: none;
    height: calc(100% - 20px);
    width:calc(100% - 20px);
    padding: 0px 5px;
    text-align: left;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 14px;

}

.send {
    display: inline-block;
    width: 50px;
    border: 2px solid white;
    background: lightseagreen;
    padding: 4px;
    text-align: center;
    border-radius: 3px;
    color: white;
}
